.swiper {
  width: 100%;
  height: 100vh;
  padding: 1.5rem;
}

.swiper-slide {
  background: #fff;
  height: calc((100% - 30px) / 2) !important;

  /* Center slide text vertically */
  display: flex;
  justify-content: left;
  align-items: top;
}

@media screen and (max-width: 600px) {
  .swiper-slide {
    height: calc((100% - 30px)) !important;
  }
}

.sliderr {
  background-color: #44efef;
  justify-self: center;
  align-self: center;
  border-radius: 0.5rem;
  background-size: cover;
  background-repeat: none;
  background-position: bottom;
  cursor: pointer;
}

.sliderr a div {
  background-color: rgba(255, 255, 255, 0.75);
  width: 18rem;
  height: 6rem;
  display: grid;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 1rem 0 0 1rem;
  border-radius: 6px;
}

.sliderr:hover a div {
  color: white;
  background-color: transparent;
  transform: scale(1.11);
  transition: ease-out .6s all;
}

.sliderr:nth-child(3) {
  background-image: url("/public/personas-cover.png");
}

.sliderr:hover {
  background-image: none;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
  background-color: #EF4444;
}