.icons {
  position: fixed;
  bottom: 6vh;
  right: 6vw;
  display: flex;
  justify-content: space-around;
  z-index: 1;
  width: 12rem;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .icons {
    width: 9rem;
    right: 3vw;
  }
}

.email {
  cursor: cell;
}