@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  position: relative;
  height: 100%;
  cursor: none;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
}

main {
  height: auto;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.heading-text {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}